.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    border-radius: 50px;
    color: purple;
  }
  
  .sticky-nav:hover {
    color: green; /* Change to desired hover color */
  }